<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BibliothequeWeb</display-name>

	<context-param>
	    <param-name>propertiesFileName</param-name>
	   <param-value>conf.properties</param-value>
	</context-param>

    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
    
    <env-entry>
    	<env-entry-name>propertiesFileName</env-entry-name>
    	<env-entry-type>java.lang.String</env-entry-type>
    	<env-entry-value>conf.properties</env-entry-value>
    </env-entry>
    
    <jsp-config>
    	<jsp-property-group>
    		<url-pattern>*.jsp</url-pattern>
        	<page-encoding>UTF-8</page-encoding>
    	</jsp-property-group>
	</jsp-config>

</web-app>


